.todo-header {
  margin: 10px 5px;
  text-align: center;
}

.todo-header h1 {
  color: black;
  margin: 5px 0;
}

.todo-header h4 {
  margin: 0 0;
  color: rgb(0, 0, 0);
}

.todo-header input {
  width: 400px;
  margin: 40px 0;

}
